@media(max-width: 768px) {
    header {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cartas {
        margin: 0 12px;
    }

    .carta {
        width: 67px;
        height: 96px;
        margin: 10px;
    }

    img {
        height: 50px;
        width: 50px;
    }

}